.btn-add-test
  display: block
  margin: auto
.regular-admin-txt
  display: inline-block
  font: 400 30px/40px 'Open Sans'
  color: #333
  a
    color: inherit
.test-menu
  padding-top: 30px
.admin-test
  border-bottom: 1px solid #333
  padding: 10px
  &:last-child
    border-bottom: none
    padding: 0
  .regular-admin-txt
    display: block
    text-align: center
  .btns
    display: block
    text-align: center
    .little-btn
      margin-top: 10px
.create-category
  input, select
    padding: 10px
    border: 1px solid #333
    border-radius: 10px