.choose-test
  .big-text
    padding-bottom: 30px
  .height-box
    min-height: auto
    padding-bottom: 30px
    @media (max-width: 1300px)
      padding-bottom: 20px
  #list-tests
    margin: auto
    max-width: 500px
    padding: 20px