#text-head
  font: 600 45px/60px 'Open Sans'
  color: #222
  padding: 20px 0 30px
#text-img
  img
    max-height: 640px
    max-width: 80%
#text-body
  font: 400 21px/36px 'Open Sans'
  color: #333
  padding-top: 30px
#text-head, #text-img, #text-body
  max-width: 80%
  text-align: center
  margin: 0 auto