#text-head
  font: 600 45px/60px 'Open Sans'
  color: #222
#text-img
  img
    max-height: 640px
    max-width: 80%
#text-body
  font: 400 21px/36px 'Open Sans'
  color: #333
#text-head, #text-img, #text-body
  max-width: 80%
  text-align: center
  margin: 30px auto