.hide
  display: none
.content-wrap
  display: table
  width: 100%
  max-width: 900px
  height: 100%
  margin: auto
  padding: 15px
.vert-align
  display: table-cell
  vertical-align: middle
.text-center
  text-align: center