.hide
  display: none
.find
  display: block
.content-wrap
  display: table
  width: 100%
  max-width: 1200px
  height: 100%
  margin: auto
  padding: 15px
.vert-align
  display: table-cell
  vertical-align: middle
.text-center
  text-align: center
.little-btn, .btn-reset
  width: 180px
  font: 600 24px/70px 'Open Sans'
  text-align: center
  margin: 0 15px
  border: none
  border-radius: 50px
  &:focus
    outline-width: 0
  &:hover
    cursor: pointer
.navend
  margin-bottom: 30px
.btn-reset
  width: auto
  margin: auto
  display: inherit
  margin-top: 50px
  padding: 0 50px
.btn-white
  background: #fff
  color: #888
  border: 2px solid #acacac
.btn-red
  background: #f04933
  color: #fff
  border: 2px solid #f04933
.height-box
  min-height: 530px