.header
  .content-wrap
    height: 110px
    border-bottom: 1px solid #a3a3a3
  p.title-page
    width: 50px
  .title-page
    font: 400 18px 'Open Sans'
    color: #666
  .title-question
    font: 600 45px 'Open Sans'
    color: #333
  label
    font: 400 24px/60px OpenSans
    color: #333
    vertical-align: middle
  input
    width: 25px
    height: 25px
    margin-right: 25px
    vertical-align: middle