.test
  .list-questions
    text-align: center
    .question
      margin: 20px 0
    .title-question
      font: 600 45px 'Open Sans'
      color: #333
    label
      font: 400 24px/60px OpenSans
      color: #333
      vertical-align: middle
    input
      width: 25px
      height: 25px
      margin-right: 25px
      vertical-align: middle