.test
  #list-questions
    padding: 125px 150px 50px
  .title-question
    font: 600 45px Open Sans
    color: #333
  .list-answers
    padding-top: 60px
  label
    font: 400 24px/45px Open Sans
    color: #333
    vertical-align: middle
  input
    width: 25px
    height: 25px
    margin-right: 25px
    vertical-align: middle
  .navend
    margin-bottom: 70px
    text-align: center
  .btn-white
    background: #fff
    color: #888
    border: 2px solid #acacac
  .btn-red
    background: #f04933
    color: #fff
    border: 2px solid #f04933