<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ProfTest</title>
		<style type="text/css">
			#form-add-category {
				display: none;
			}
			.active{
				display: inline-block;
			}
			.active + #form-add-category {
				display: block;
			}
			.category-display{
		    	display: none;
			}
		</style>

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
	</head>
	<body>
		<header class="admin-header">
			<div class="content-wrap">
				<h2 class="big-text">Назва тесту</h2>
			</div>
		</header>
		<section class="create-category test-menu">
			<div class="content-wrap">

				<input type="text" name="name" placeholder="Введiть назву вашого тесту">
				<select name="type" class="list-category" id="list-category">
					<option value="">--</option>
				</select>
				<button type="button" class="button-add-category btn-white little-btn">Додати категорiю</button>
				<form class="form-add-category hide" id="form-add-category" method="post" enctype='application/json'>
					<label class="middle-title">
						Назва категорiї
						<input type="text" name="name" placeholder="Введiть назва категорiї.">
					</label>
					<label class="middle-title">
						Назва пiдкатегорiї
						<input type="text" name="subcats[0][name]" placeholder="Введiть назву пiдкатегорiї.">
					</label>
					<label class="middle-title">
						Заголовок привiтання
						<input type="text" name="subcats[0][header]" placeholder="Введiть заголовок привiтання.">
					</label>
					<label class="middle-title" id="">
						Текст привiтання
						<textarea type="text" rows="5" name="subcats[0][text]" placeholder="Введiть пiдсумок тестування."></textarea>
					</label>
					<button class="btn-white little-btn" id="add-category" type="submit" name="add-category">Додати пiдкатегорiю</button><Br>
					<!--<input type="file" name="pic" accept="image/*"><Br>-->
					<button class="btn-red little-btn" id="submit-category" type="submit" name="submit">Зберегти</button><Br>
				</form>
				<form id="form-add-test" method="post" enctype='application/json'>
					<fieldset>
						<legend class="middle-title">Запитання</legend>
                         <input name="name"  id="name2">
						<input type="text" name="questions[0][body]" placeholder="Введiть перше запитання">
						<label for="answer" class="middle-title find">Вiдповiдь</label>
						<input id="answer" type="text" name="questions[0][answers][0][body]" placeholder="Введiть першу вiдповiдь">
						<select name="questions[0][answers][0][key]" class="list-category2 list-category1">
							<option value="">--</option>
						</select>
						<input name="is_primary"  id="input-is-primary">
                        <input name="type"  id="type">
						<button type="button" name="add-answer" class = "btn-white little-btn add-answer find" >Додати вiдповiдь</button>
					</fieldset>
					<button type="button" name="add-question" class = "btn-white little-btn add-question">Додати запитання</button>
				</form>
				<button type="submit-test" id="add-new-test" class="btn-red little-btn">Зберегти</button>
			</div>
		</section>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.serialize-object.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='admin.js')}}"></script>
		<script type="text/html" id="add-category-prototype">
			<label class="middle-title">
				Назва пiдкатегорiї
				<input type="text" name="subcats[%number%][name]" placeholder="Введiть назву пiдкатегорiї.">
			</label>
			<label class="middle-title">
				Заголовок привiтання
				<input type="text" name="subcats[%number%][header]" placeholder="Введiть заголовок привiтання.">
			</label>
			<label class="middle-title">
				Текст привiтання
				<textarea type="text" rows="5" name="subcats[%number%][text]" placeholder="Введiть пiдсумок тестування."></textarea>
			</label>
		</script>
		<script type="text/html" id="add-answer-prototype">
			<div>
				<label for="answer" class="middle-title find">Вiдповiдь</label>
				<input id="answer" type="text" name="questions[%number%][answers][%number%][body]" placeholder="Введiть першу вiдповiдь">
				<select name="questions[%number%][answers][%number%][key]" class="list-category2 list-category1">
					<option value="">--</option>
				</select>
			</div>
		</script>
		<script type="text/html" id="add-question-prototype">
			<fieldset>
				<legend class="middle-title">Запитання</legend>
				<input type="text" name="questions[%number%][body]" placeholder="Введiть перше запитання">
				<label for="answer" class="middle-title find">Вiдповiдь</label>
				<input id="answer" type="text" name="questions[%number%][answers][%number%][body]" placeholder="Введiть першу вiдповiдь">
				<select name="questions[%number%][answers][%number%][key]" class="list-category2 list-category1">
					<option value="">--</option>
				</select>
				<input name="is_primary" type ="hidden" id="input-is-primary">
				<button type="button" name="add-answer[%number%]" class = "btn-white little-btn add-answer find" >Додати вiдповiдь</button>
			</fieldset>
		</script>
	</body>
</html>
