<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ProfTest</title>
</head>
<body>
	<form id="form" action="" method="post" enctype='application/json'>
	
		<label>Назва категорiї</label>
		<input type="text" name="name" placeholder="Введiть назва категорiї.">
			
		<label>Назва пiдкатегорiї</label>
		<input type="text" name="subcats[0][name]" placeholder="Введiть назву пiдкатегорiї.">

		<label>Заголовок привiтання</label><Br>
		<input type="text" name="subcats[0][name]" placeholder="Введiть заголовок привiтання.">

		<label>Текст привiтання</label>
		<textarea type="text" name="subcats[0][text]" placeholder="Введiть пiдсумок тестування."></textarea>
		
		<button id="add-category" type="submit" name="add-category" 
		data-prototype="&lt;p&gt; &lt;label&gt;&#1053;&#1072;&#1079;&#1074;&#1072;&#1085;&#1080;&#1077; &#1087;&#1086;&#1076;&#1082;&#1072;&#1090;&#1077;&#1075;&#1086;&#1088;&#1080;&#1080;&lt;/label&gt;&lt;Br&gt; &lt;input type=&quot;text&quot; name=&quot;subcats[%number%][name]&quot; placeholder=&quot;&#1042;&#1074;&#1077;&#1076;&#1080;&#1090;&#1077; &#1085;&#1072;&#1079;&#1074;&#1072;&#1085;&#1080;&#1077; &#1087;&#1086;&#1076;&#1082;&#1072;&#1090;&#1077;&#1075;&#1086;&#1088;&#1080;&#1080;.&quot;&gt; &lt;/p&gt; &lt;p&gt; &lt;label&gt;&#1048;&#1090;&#1086;&#1075;&#1080; &#1090;&#1077;&#1089;&#1090;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103;&lt;/label&gt;&lt;Br&gt; &lt;textarea type=&quot;text&quot; name=&quot;subcats[%number%][text]&quot; placeholder=&quot;&#1042;&#1074;&#1077;&#1076;&#1080;&#1090;&#1077; &#1090;&#1086;&#1075;&#1080; &#1090;&#1077;&#1089;&#1090;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1103;.&quot;&gt;&lt;/textarea&gt; &lt;/p&gt;"
		>Додати категорiю</button>

		<input type="file" name="pic" accept="image/*">

		<button id="submit" type="submit" name="submit">Додати тест</button>

	</form>

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='jquery.serialize-object.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='admin.js')}}"></script>

</body>
</html>
