<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ProfTest</title>
	</head>
	<body>

		<button class="button-add-test" type="button">Додати тест</button>

		<a href="#" class="">Перший тест на профорiєнтацiю </a>	

		<button class="button-edit-test" type="button">Редагувати</button>

		<button class="button-delete-test" type="button">Видалити</button>


	<script type="text/javascript" src="{{ url_for('static', filename='admin.js')}}">
	</script>
	</body>
</html>
