<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <section class="test">
            <ul class="list-questions">
                <li class="question">
                    <form action="" class="form-question">
                        <h3>Question 1</h3>
                        <ul class="list-answer">
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-1">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-1">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-1">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-1">
                                    Answer
                                </label>
                            </li>
                        </ul>
                        <button>Proceed to next question</button>
                    </form>
                </li>
                <li class="question disp-none">
                    <form action="" class="form-question">
                        <h3>Question 2</h3>
                        <ul class="list-answer">
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-2">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-2">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-2">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-2">
                                    Answer
                                </label>
                            </li>
                        </ul>
                        <button>Proceed to next question</button>
                    </form>
                </li>
                <li class="question disp-none">
                    <form action="" class="form-question">
                        <h3>Question 3</h3>
                        <ul class="list-answer">
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-3">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-3">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-3">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-3">
                                    Answer
                                </label>
                            </li>
                        </ul>
                        <button>Proceed to next question</button>
                    </form>
                </li>
                <li class="question disp-none">
                    <form action="" class="form-question">
                        <h3>Question 4</h3>
                        <ul class="list-answer">
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-4">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-4">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-4">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-4">
                                    Answer
                                </label>
                            </li>
                        </ul>
                        <button>Proceed to next question</button>
                    </form>
                </li>
                <li class="question disp-none">
                    <form action="" class="form-question">
                        <h3>Question 5</h3>
                        <ul class="list-answer">
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-5">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-5">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-5">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-5">
                                    Answer
                                </label>
                            </li>
                        </ul>
                        <button>Proceed to next question</button>
                    </form>
                </li>
                <li class="question disp-none">
                    <form action="" class="form-question">
                        <h3>Question 6</h3>
                        <ul class="list-answer">
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-6">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-6">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-6">
                                    Answer
                                </label>
                            </li>
                            <li class="answer">
                                <label>
                                    <input type="radio" name="answer-6">
                                    Answer
                                </label>
                            </li>
                        </ul>
                        <button>Proceed to next question</button>
                    </form>
                </li>
            </ul>
        </section>
    </body>
</html>