<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    </head>
    <body>
        <section class="test">
            <ul id="list-questions">

            </ul>
            <button id="next">Далее</button>
        </section>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
    </body>
</html>